{% block scripts %}
<script src="{{ static('assets/js/jquery.min.js') }}"></script>
<script src="{{ static('assets/js/bootstrap_min.js') }}"></script>
<script src="{{ static('assets/js/Chart.bundle.min.js') }}"></script>
<script src="{{ static('assets/js/lib/data-table/datatables.min.js') }}"></script>
<script src="{{ static('assets/js/lib/data-table/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ static('assets/js/lib/data-table/dataTables.buttons.min.js') }}"></script>
<script src="{{ static('assets/js/lib/data-table/buttons.bootstrap.min.js') }}"></script>
<script src="{{ static('assets/js/lib/data-table/buttons.html5.min.js') }}"></script>
<script src="{{ static('assets/js/lib/data-table/buttons.print.min.js') }}"></script>
<script src="{{ static('assets/js/lib/data-table/buttons.colVis.min.js') }}"></script>
<script src="{{ static('assets/js/init/datatables-init.js') }}"></script>
{% endblock %}